<div ng-controller='GalleryController' ng-init='getPoems()'>



  <flexy-layout orientation="horizontal">
    <block-container init="200">
        <flexy-layout orientation="vertical">
            <block-container >
                <div>
                    <p>inside the block</p>
                </div>
            </block-container>
            <block-container>
                <div>
                    <p>inside the block</p>
                </div>
            </block-container>
        </flexy-layout>
      </block-container>
      <block-container init="200">
        <flexy-layout orientation="vertical">
            <block-container >
                <div>
                    <p>inside the block</p>
                </div>
            </block-container>
            <block-container>
                <div>
                    <p>inside the block</p>
                </div>
            </block-container>
        </flexy-layout>
      </block-container>

            <!-- <block-splitter></block-splitter>
            <block-container>
                <div>
                    <p>inside the block</p>
                </div>
            </block-container>
        </flexy-layout>
    </block-container>
    <block-splitter></block-splitter>
    <block-container>
        <div>
            <p>inside the block</p>
        </div>
    </block-container>
    <block-container>
        <div>
            <p>inside the block</p>
        </div>
    </block-container> -->
</flexy-layout>
<!-- <li class="poem" ng-repeat="poem in poems.userPoems" >
  <li class="poem" ng-repeat="poem in poems.userPoems" >
 -->
    <div class='info'>
      <div class='visits'><span class='count'>{{poem.username}}</span>Username</div>
      <div class='title'>{{poem.line1}}</div>
      <div class='original'>{{poem.line2}}</div>
    </div>

  </li>
</div>

