#banner
{
   width: 100%;
   margin-top: 0.2em;
}
#homeTitle {
  font-family: Papyrus, fantasy;
  color: black;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
  text-align: left;

}
.sign-box
{
   background-color: #c32526;
   margin-top: 0.2em;
}
/*
#sign-box
{
   margin-top: 0.5em;
   height: 1.8em;
   padding: 0.3em;
}*/

#mobile-sign-box
{
   display: none;
}

#signInput
{
   width: 12em;
   -webkit-transition: all 1s;
   -moz-transition: width 1s;
   -o-transition: width 1s;
   -ms-transition: width 1s;
   transition: width 1s;
}

#signInput:focus
{
   width: 17em;
}
ul.menu-list
{
   list-style-type: none;
   padding: 0;
   margin: 1em 0em;

}

li.menu-item
{
 /*  display: inline;*/
   margin: 0em 1.5em;

}

a.menu-item-link
{
   font-family: Papyrus, fantasy;
   font-size: 1.5em;
   text-decoration: none;
   color: #c31f05;
    position: relative;

}

a.menu-item-link:hover
{
   color: #000000;
}

a.menu-item-link:active
{
   top: 0.1em;
   left: 0.1em;
}

#menu-select
{
   display: none;
}

/*
FLEXILAYOUT!!!!!!!!
*/

.flexy-layout {
    display: inline-block;
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}


.flexy-layout > .block {
    display: inline-block;
    float: left;
    overflow: hidden;
}

.flexy-layout.flexy-layout-column > .block {
    height: 100%;
}

.flexy-layout.flexy-layout-row > .block {
    width: 100%;
}

.block.splitter {
    position: relative;
    overflow: visible;
}

.flexy-layout.flexy-layout-column > .splitter{
    width: 5px;
}

.flexy-layout.flexy-layout-row > .splitter{
    height: 5px;
}

.flexy-layout.flexy-layout-column > .splitter > .ghost{
    cursor: col-resize;
}

.flexy-layout.flexy-layout-row > .splitter > .ghost{
    cursor: row-resize;
}

.ghost {
    float: left;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    z-index: 99;
}

.block-content {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* FLEXI LAYOUT */

body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: rgb(80, 80, 80);

}

.block {
    transition: all 0.2s;
}

.block-content{
    border:1px solid #000000;
}

.splitter{
    background: orange;
}

.ghost {
    background: orange;
    opacity: 0.5;
}
























