<div class="row" ><h3>Playing a {{ skill }} game of concentration </h3>
<h4>Click the pandas to find the matches <a href="#/auth" class="btn btn-info" role="button">Back to choose skill</a></h4>

</div>
<div class="row" >
  <div class="col-sm-2" ng-click="flipCard(cards[0])"><img src="images/cards/{{cards[0].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[1])"><img src="images/cards/{{cards[1].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[2])"><img src="images/cards/{{cards[2].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[3])"><img src="images/cards/{{cards[3].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[4])"><img src="images/cards/{{cards[4].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[5])"><img src="images/cards/{{cards[5].state}}" /></div>
</div>
<div class="row">
  <div class="col-sm-2" ng-click="flipCard(cards[6])"><img src="images/cards/{{cards[6].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[7])"><img src="images/cards/{{cards[7].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[8])"><img src="images/cards/{{cards[8].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[9])"><img src="images/cards/{{cards[9].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[10])"><img src="images/cards/{{cards[10].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[11])"><img src="images/cards/{{cards[11].state}}" /></div>
</div>
<div class="row">
  <div class="col-sm-2" ng-click="flipCard(cards[12])"><img src="images/cards/{{cards[12].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[13])"><img src="images/cards/{{cards[13].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[14])"><img src="images/cards/{{cards[14].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[15])"><img src="images/cards/{{cards[15].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[16])"><img src="images/cards/{{cards[16].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[17])"><img src="images/cards/{{cards[17].state}}" /></div>
</div>
<div class="row">
  <div class="col-sm-2" ng-click="flipCard(cards[18])"><img src="images/cards/{{cards[24].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[19])"><img src="images/cards/{{cards[25].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[20])"><img src="images/cards/{{cards[26].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[21])"><img src="images/cards/{{cards[27].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[22])"><img src="images/cards/{{cards[28].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[23])"><img src="images/cards/{{cards[29].state}}" /></div>
</div>
<div class="row">
  <div class="col-sm-2" ng-click="flipCard(cards[24])"><img src="images/cards/{{cards[24].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[25])"><img src="images/cards/{{cards[25].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[26])"><img src="images/cards/{{cards[26].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[27])"><img src="images/cards/{{cards[27].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[28])"><img src="images/cards/{{cards[28].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[29])"><img src="images/cards/{{cards[29].state}}" /></div>
</div>
<div class="row">
  <div class="col-sm-2" ng-click="flipCard(cards[30])"><img src="images/cards/{{cards[30].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[31])"><img src="images/cards/{{cards[31].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[32])"><img src="images/cards/{{cards[32].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[33])"><img src="images/cards/{{cards[33].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[34])"><img src="images/cards/{{cards[34].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[35])"><img src="images/cards/{{cards[35].state}}" /></div>
</div>
<div class="row">
  <div class="col-sm-2" ng-click="flipCard(cards[36])"><img src="images/cards/{{cards[36].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[37])"><img src="images/cards/{{cards[37].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[38])"><img src="images/cards/{{cards[38].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[39])"><img src="images/cards/{{cards[39].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[40])"><img src="images/cards/{{cards[40].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[41])"><img src="images/cards/{{cards[41].state}}" /></div>
</div>
<div class="row">
  <div class="col-sm-2" ng-click="flipCard(cards[42])"><img src="images/cards/{{cards[42].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[43])"><img src="images/cards/{{cards[43].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[44])"><img src="images/cards/{{cards[44].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[45])"><img src="images/cards/{{cards[45].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[46])"><img src="images/cards/{{cards[46].state}}" /></div>
  <div class="col-sm-2" ng-click="flipCard(cards[47])"><img src="images/cards/{{cards[47].state}}" /></div>
</div>


